<div class="requester_sign_up_success">
  <div class="requester_welcome_message">
    <h1>ようこそ、WAKKAへ！</h1>
    <%=image_tag "undraw_celebration_0jvk.png",class:"requester_welcome-image"%>
  </div>

  <div class="requester_sign_up_introduction">
    <div class="requester_first_introduction">
      <h1>WAKKAにはたくさんのスピーカーがいます！<br>プロフィールからその人のことを知りましょう</h1>
      <%=image_tag "undraw_experts3_3njd.png",class:"requester_introduction-image"%>
    </div>
    <div class="requester_second_introduction">
      <h1><br>予約から決済までWAKKAで完結するので<br>余計な手間はかかりません</h1>
      <%=image_tag "undraw_project_team_lc5a.png",class:"requester_introduction-image"%>
    </div>
    <div class="requester_third_introduction">
      <h1>スピーカーたちは、あなたからのオファーを待っています<br>早速はじめましょう</h1>
      <%=image_tag "business-agreement.png",class:"requester_welcome-image"%>
      <ul class="move_to">
        <li><%= link_to 'トップページへ',root_path , class: "move" %></li>
        <li><%= link_to 'マイページへ', "#",class: "move" %></li>
      </ul>
    </div>
  </div>
</div>
